






<div class="container">
    <span class="text">
        Un restaurant est un établissement de commerce où l'on sert des plats préparés et des boissons à consommer sur place, en échange d'un paiement.<br>
        La nourriture y est généralement préparée par un chef cuisinier.<br>
        Le terme couvre une multiplicité de lieux et une grande diversité des types de cuisines, tant locales qu'étrangères. <br>
        Les restaurants sont parfois le dispositif réservé au service des repas au sein d'une plus grande entité (hôtel, université, aéroport…) ;<br>
        on parle alors de restaurant collectif par opposition au site de cuisine. Ils peuvent aussi être associés à une activité de traiteur ou d'épicerie. <br>
        Le restaurant offre des conditions de confort plus ou moins importantes, et la restauration est dite « rapide » quand le client peut commander et manger son repas en quelques minutes ou dizaines de minutes, éventuellement debout.
    </span>
</div>



