







<table class="board-comment">
    <thead>
        <tr>
            <td><button id="sort-arrow" class="arrow-none" (click)="setSortedBy('date')" [ngClass]="arrowDirectionDate()">^</button>
            <td></td>
            <td><button id="sort-arrow" class="arrow-none" (click)="setSortedBy('rate')" [ngClass]="arrowDirectionRate()">^</button>
        </tr>
        <tr class="first-line">
            <!-- <td><div>Id </div></td>
            <td><div>Id Restaurant</div></td> -->
            <td class="date">Date </td>
            <td>Commentaire </td>
            <td>Note (/100)</td>
        </tr>
    </thead>
    <tbody>
        <tr class="others-lines" *ngFor="let comment of commentsFiltered">
            <!-- <td class="number">{{comment.commentId}}</td>
            <td class="number">{{comment.commentRestaurantId}}</td> -->
            <td class="date">{{comment.postDate}}</td>
            <td class="text">{{comment.userComment}}</td>
            <td class="number">{{comment.commentRate}}</td>
        </tr>
    </tbody>
</table>