<!DOCTYPE html>


<div class="menu-burger-button" (click)="openning()" [ngClass]="isActive ? 'inactive' : 'active' ">

    <h2>Menu</h2>

</div>

<div class="sidebar" [ngClass]="isActive ? 'active' : 'inactive' ">
    
    <a id="sidebarCloseButton"  (click)="closing()">Fermer</a>

    <ul class="services">
      <li><a routerLink="">Accueil</a></li>

      <li><a routerLink="/list">Les restaurants</a></li>

      <li><a href="#">Témoignages</a></li>

      <li><a href="#">Contact</a></li>

      <li><a href="#">A propos</a></li>
    </ul>

</div>