




<!-- Barre de recherche -->
<div class="reschearch-bar">
    <div>
        <label>Rechercher : </label>
        <input type="text" [(ngModel)]="listFilter" >
        <h5>{{listFilter | deleteSpecialCharacters}}</h5>
    </div>

    <div>
        <label> dans : </label>
        <div>
            <label>Nom : </label>
            <input type="checkbox" name="nameCheck" [(ngModel)]="nameCheckBool">
        </div>
        <div>
            <label>Ville : </label>
            <input type="checkbox" name="cityCheck" [(ngModel)]="cityCheckBool">
        </div>
        <div>
            <label>Rue : </label>
            <input type="checkbox" name="streetCheck" [(ngModel)]="streetCheckBool">
        </div>
    </div>
    
    <div></div>
    <div></div>
    
</div>

<!--(ngModelChange)="restaurantsFiltering()"-->

<!-- Affichage des résultats -->
<div class="board">
    <table class="board-comment">
        <thead>
            <tr class="first-line">
                <td><div>Nom</div>               <div class="sort-arrow">+</div></td>
                <td><div>Ville</div>                <div class="sort-arrow">+</div></td>
                <td><div>Rue</div>                <div class="sort-arrow">+</div></td>
                <td><div>Email</div>                <div class="sort-arrow">+</div></td>
                <td><div>Note</div>                <div class="sort-arrow">+</div></td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr class="others-lines" *ngFor="let restaurant of restaurantsFiltered">
                <td class="text">{{restaurant.name}}</td>
                <td class="text">{{restaurant.city}}</td>
                <td class="text">{{restaurant.street}}</td>
                <td class="text">{{restaurant.email}}</td>
                <td><app-stars [rating]='restaurant.rate' (ratingClicked)="onRatingClicked($event)"></app-stars></td>
                <div class="others-lines-actions">
                    <button>Actions 1</button>
                    <button>Actions 2</button>
                    <button>Actions 3</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>


































