




<!-- Barre de recherche -->
<div class="reschearch-bar">
    <label>Recherche par nom : </label>
    <input type="text" [(ngModel)]="listFilter" >
    <h5>{{listFilter | upperCaseTheFirstLetter}}</h5>
</div>

<!--(ngModelChange)="restaurantsFiltering()"-->

<!-- Affichage des résultats -->
<div>
    <table class="board-comment">
        <thead>
            <tr class="first-line">
                <td>Nom</td>
                <td>Ville</td>
                <td>Rue</td>
                <td>Email</td>
                <td>Note (/100)</td>
            </tr>
        </thead>
        <tbody>
            <tr class="others-lines" *ngFor="let restaurant of restaurantsFiltered">
                <td class="text">{{restaurant.name}}</td>
                <td class="text">{{restaurant.city}}</td>
                <td class="text">{{restaurant.street}}</td>
                <td class="text">{{restaurant.email}}</td>
                <td><app-stars [rating]='restaurant.rate' (ratingClicked)="onRatingClicked($event)"></app-stars></td>
            </tr>
        </tbody>
    </table>
</div>


































