

.reschearch-bar{
    padding:0.25%;
    justify-content: stretch;
    background-color: #5a63a8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reschearch-bar > *{
    margin: 0.25%;;
}

.board{
    background-color: rgb(170, 218, 218);
}

.board-comment{
    border: solid 3px black;
    width: 100%;
}


.first-line>td{
    background-color: rgb(166, 226, 226);
    border: solid 3px rgb(0, 0, 0);

}

.first-line>td>*{
    display: inline;
}

.sort-arrow{
    color:brown;
    position: relative;
    right: 0;
}

.sort-arrow:hover{
    cursor: pointer;
    color: red;
}


.others-lines > td{
    background-color: rgb(216, 255, 255);
    border: solid 1px rgb(0, 0, 0);
}

.others-lines-actions{
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 255, 255);
    border: solid 1px rgb(0, 0, 0);
}

.text{
    text-align: left;
}

.number{
    text-align: right;
}











