


.fork-pic{
    position:fixed;
    right: 35px;
    bottom: -75px;
    width: 50px;
    rotate: 5deg;
}


.fork-pic:hover{
    animation: rotate 1s infinite;
    cursor: pointer;
}


@keyframes rotate {
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(5deg);
    }
}







